<div class="col-sm-6">
  <h2> Switch to User </h2>
  <p>
    Select a volunteer from the list below to swtich to.
    After switching you will have logout and login to get back to your
    real user.
  </p>
  <%= form_tag("/volunteers/switch_user", method: "get") do %>
    <table class="table">
      <tr>
        <td>
          <label for="volunteer_id">Volunteer:</label>
        </td>

        <% if current_volunteer.super_admin? %>
          <td>
            <%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v|
                  ["#{v.name} ["+v.regions.collect{ |r| r.name }.join(",")+"]",v.id] }), {class: "form-control select2"}) %></td>
        <% else %>
          <td>
            <%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v|
                  ((v.regions.collect{ |r| r.id } & @admin_region_ids).length > 0 and !v.admin) ? [v.name,v.id] : nil }.compact), {class: "form-control select2"}) %>
          </td>
        <% end %>
      </tr>
    </table>
    <%= submit_tag "Switch" %>
  <% end %>
</div>
