/* Sign in Section */
.sign_in_section {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  float: right;
  margin-top: 20px;
  padding: 25px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  label{
    font-weight: bold;
    font-size: .95em;
    margin-top: 5px;
  }

  input[type=email],
  input[type=password],
  input[type=text]{
    width: 100%;
  }

  form div input[type=checkbox]{
    display: inline;
  }

  input{
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 0;
    padding: 10px 0px;
  }

  a {
    color: #0F55CD;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

/*Info Section*/
.info_section {
  padding: 0px;
  margin: 45px 0 0;
  p {
    padding-right: 2em;
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    font-size: 1.25em;
    margin-top: 0;
    padding: 10px 0px;
  }

  ul.unstyled li {
    margin-bottom: 10px;
  }
  .label {
    color: #fff;
    font-size: 1em;
    line-height: 1.2;
  }
}

.text_link {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  color: blue;
  cursor: hand;
  float: right;
  margin-right: 40px;
  text-align: center;
  width: 7.5em;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  &.selected {
    border-radius: 10px 10px 0px 0px;
  }
  &:hover {
    background: #E1E1E1;
  }
}

.section_title {
  color: red;
}

div#error_explanation {
  background: orange;
  border: 1px solid black;
  margin-bottom: 0.5em;
  padding: 1em;
  h2 {
    color: grey;
    margin: 0 0 0.3em;
    padding: 0;
  }
  ul {
    margin-bottom: 0;
  }

}
