body{
  font-family: 'Droid Sans', sans-serif;
}

html, body {
  height: 100%;
}

.wrap {
  overflow: auto;
  font-size: .92em;
  margin: 10px auto 0px auto;
  padding-bottom: 1.5em;
}


.container {
  min-height: 100%;
  position: relative;
}

.row {
  margin: 20px auto 0;
  padding: 0 0;
  &.bordered-bottom {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding: 20px 0;
  }
}
