button.btn {
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  &.info{
  }
  &.take{
  }
  &.fill{
  }
}
.btn {
  &.in-text-header {
    margin-bottom: 5px;
  }
  + .btn {
    display: inline-block;
    margin-top: 5px;
  }
}

