input[type=submit] {
  background-color: #4B8CF5;
  border-radius:3px;
  border:1px solid #3278F0;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  &:hover {
    background-color: #3278E6;
  }
  &:active {
    position:relative;
    top:1px;
  }
}

input[type=email],
input[type=password],
input[type=text]{
  padding: 4px;
}
