/* Header */
.header{
  background: #F1F1F1;
  border-bottom: 2px solid #E5E5E5;
  padding: 10px;
  overflow: auto;
}

.header .logo_image{
  float: right;
  height: 50px;
}

#TCFJ_title{
  color: #72a20b;
  padding: 0px;
  text-align: center;
  font-family: "jaf-facitweb-1","jaf-facitweb-2",sans-serif;
}
.logo-wrap {
  img {
    width: 300px;
}
}
.page-header{
  display: flex;
  justify-content: center;
  .logo-wrap {

    @media (max-width: $screen-md-max ){
        width: 400px;
    }
    @media (max-width: $screen-sm-max ){
        width: 300px;
    }
    @media (max-width: $screen-xs-max ){
        width: 200px;
    }

    max-width: 500px;
  }

}

.header div{
  float: left;
}
