/* Common */
body{
  font-family: 'Droid Sans', sans-serif;
}

html, body {
	height: 100%;
}

.wrap {
	overflow: auto;
	padding-bottom: 1.5em;
}

.container{
  min-height: 100%;
  position: relative;
}

/* Header */
.header{
  background: #F1F1F1;
  border-bottom: 2px solid #E5E5E5;
  padding: 10px;
  overflow: auto;
}

.header .logo_image{
  float: right;
  height: 50px;
}

#bfr_title{
  font-size: 1.5em;
  color: #0E30B7;
  padding: 0px;
  font-weight: bold;
}

.header div{
  float: left;
}

/* Footer */
.footer{
  position: absolute;
  bottom: 0;
  border-top: 1px solid #B3B3B3;
  width: 100%;
}

.footer p{
  margin: 3px;
  font-size: .75em;
  color: grey;
}

.footer a {
  color: grey;
  text-decoration: none;
}

.footer a:hover{
  text-decoration: underline;
}

/* Button */
input[type=submit] {
	background-color: #4B8CF5;
	border-radius:3px;
	border:1px solid #3278F0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

input[type=submit]:hover {
	background-color: #3278E6;
}

input[type=submit]:active {
	position:relative;
	top:1px;
}

input[type=email], 
input[type=password], 
input[type=text]{
  padding: 4px;
}
