/* Overall View */
html, body {
height: 100%;
}

.container{
}

.wrap {
  font-size: .92em;
  margin: 10px auto 0px auto;
}

/*Sign in Section*/
.sign_in_section {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  float: right;
  margin-top: 20px;
  padding: 25px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.sign_in_section label{
  font-weight: bold;
  font-size: .95em;
  margin-top: 5px;
}

.sign_in_section input[type=email],
.sign_in_section input[type=password],
.sign_in_section input[type=text]{
  width: 100%;
}

.sign_in_section form div input[type=checkbox]{
  display: inline;
}

.sign_in_section input{
  margin-bottom: 10px;
}

.sign_in_section h2 {
  font-size: 1.25em;
  margin-top: 0;
  padding: 10px 0px;
}

.sign_in_section a {
  color: #0F55CD;
  text-decoration: none;
}

.sign_in_section a:hover{
  text-decoration: underline;
}
/*Info Section*/
.info_section {
  padding: 0px;
  margin: 45px 0 0;
}

.info_section p {
  padding-right: 2em;
  text-align: justify;
}

.info_section a {
  text-decoration: none;
  color: blue;
}

.info_section a:hover {
  text-decoration: underline;
}

.info_section h2 {
  font-size: 1.25em;
  margin-top: 0;
  padding: 10px 0px;
}

.info_section ul.unstyled li {
  margin-bottom: 10px;
}
.info_section .label {
  color: #fff;
  font-size: 1em;
  line-height: 1.2;
}

form div label{
  display: inline;
}

.text_link{
  color: blue;
  cursor:pointer;
  cursor:hand;
  float: right;
  margin-right: 40px;
  background: #F1F1F1;
  width: 7.5em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
}

.text_link.selected{
  border-radius: 10px 10px 0px 0px;
}

.text_link:hover{
  background: #E1E1E1;
}

.a_fact_section{
	margin-bottom: 10px;
}

.fact_info{
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  padding: 25px;
  border-radius: 10px;
  margin-right: 30px
}

.fact_section img{
  display: inline;
}

.fact_section p{
  display: inline;
}

.section_title{
  color: red;
}

.fun_fact{
  margin-bottom: 5px;
}

.fun_fact h3{
  color: green;
  font-size: 1.25em;
}

#trans_chart, #food_chart_day, #food_chart_month{
  width: 493px;
  background: none;
}

div#error_explanation{
  border: 1px solid black;
  background: orange;
  padding: 1em;
  margin-bottom: 0.5em;
}
div#error_explanation h2{
  color: grey;
  margin: 0;
  margin-bottom: 0.3em;
  padding: 0;
}

