// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_section{
  width: 32.5%;
  display: inline-block;
}

.home_section h2{
  color: green;
  font-size: 1.1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

