/* Overall View */
.wrap{
  font-size: .92em;
  padding-left: 10px;
  padding-right: 10px;
}

.container{
  min-width: 980px;
}

/* Schedule Absence */
.absence_table td{
  padding: 5px 5px 5px 0px;
}

