/* Overall View */
.wrap{
  font-size: .92em;
  padding-left: 10px;
  padding-right: 10px;
}

.container{
  min-width: 980px;
}

/* Schedule Absence */
.absence_table td{
  padding: 5px 5px 5px 0px;
}

th{ padding-right: 1.5em; }
table{ margin-top: 2em; margin-bottom: 2em; }
span.subtext{
  font-size: 8pt;
  color: grey;
}

.navigation{
  background: #333333;
  overflow: auto;
  font-size: .8em;
}

#cssmenu #user_controls{
  float: right;
  width: 175px;
}

#cssmenu #user_controls ul{
  width: 175px;
}

#cssmenu #user_controls ul li{
  width: 175px;
}

#cssmenu{
  border:none;
  border:0px;
  margin:0px;
  padding:0px;
  font-weight:bold;
  overflow: auto;
  float: left;
  width: 100%;
  background:#333333;
}
#cssmenu ul{
  background:#333333;
  height:35px;
  list-style:none;
  margin:0;
  padding:0;
  }
#cssmenu li{
  float:left;
  padding:0px;
  list-style: none;
  }
#cssmenu li a{
  background:#333333 url('../images/seperator.gif') bottom right no-repeat;
  color:#cccccc;
  display:block;
  font-weight:normal;
  line-height:35px;
  margin:0px;
  padding:0px 25px;
  text-align:center;
  text-decoration:none;
  }
#cssmenu li a:hover, #cssmenu ul li:hover a{
  background: #2580a2 url('../images/hover.gif') bottom center no-repeat;
  color:#FFFFFF;
  text-decoration:none;
  }
#cssmenu li ul{
  background:#333333;
  display:none;
  height:auto;
  padding:0px;
  margin:0px;
  border:0px;
  position:absolute;
  width:225px;
  z-index:200;
  /*top:1em;
  /*left:0;*/
  }
#cssmenu li:hover ul{
  display:block;
  
  }
#cssmenu li li {
  background:url('../images/sub_sep.gif') bottom left no-repeat;
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:225px;
  }
#cssmenu li:hover li a{
  background:none;
  
  }
#cssmenu li ul a{
  display:block;
  height:35px;
  font-size: .85em;
  font-style:normal;
  margin:0px;
  padding:0px 10px 0px 15px;
  text-align:left;
  }
#cssmenu li ul a:hover, #cssmenu li ul li:hover a{
  background:#2580a2 url('../images/hover_sub.gif') center left no-repeat;
  border:0px;
  color:#ffffff;
  text-decoration:none;
  }
#cssmenu p{
  clear:left;
  }	
