<div class="nested_fields">
  <%= f.association :recipient, :collection => (@region.locations.recipients + @region.locations.hubs + @region.locations.buyers), :as=>:select, :label=>false, :input_html => {:class => 'form-control select2', :tabindex => '-1'} %>
</div>
