<div class="col-sm-6">
  <h2> Export Data </h2>
  <%= form_tag("/logs/export.csv", :method => "get") do %>
    <table class="table">
      <tr>
        <td>
          <label for="">Starting On: </label>
        </td>
        <td>
          <div class="form-inline">
            <%= select_date Time.zone.today, {prefix: :start_date, order: [:month, :day, :year]}, {class: "form-control select2"} %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="">Ending On: </label>
        </td>
        <td>
          <div class="form-inline">
            <%= select_date Time.zone.today, {prefix: :stop_date, order: [:month, :day, :year]}, {class: "form-control select2"} %>
          </div>
        </td>
      </tr>
    </table>
    <%= submit_tag "Export" %>
  <% end %>
</div>
