<h2>Schedule an Absence</h2>

<%= form_tag("/logs/create_absence", :method => "get") do %>
<table class="absence_table">
  <tr>
    <td>Starting On: </td>
    <td><%= select_date Date.today, :prefix => :start_date %></td>
  </tr>
  <tr>
  	<td>Ending On: </td>
  	<td><%= select_date Date.today, :prefix => :stop_date %></td>
  </tr>
</table>
<%= submit_tag %>
<% end %>
