<tr class="nested_fields">
  <td>
    <%= f.association :location, collection: @region.locations, as: :select, label: false, input_html: {class: 'form-control' } %>
    <% unless f.object.location.nil? %>
      (<%= f.object.pickup_stop? ? "Donor" : "Recipient" %>)
    <% end %>
  </td>
  <td>
    <%= f.text_field(:position, size:4, class: "form-control") %>
  </td>
  <td>
    <%= f.select :food_type_ids, @region.food_types.collect {|ft| [ft.name, ft.id]}, {}, multiple: true, class: 'form-control' %>
  </td>
  <td>
    <button onclick="$(this).parents('.nested_fields').remove();" class="btn btn-sm btn-danger">
      <i class="fa fa-remove"></i>
      Remove
    </button>
  </td>
</tr>
