<div class="nested_fields" style="display:table-row;">
  <div style="display:table-cell"><%= f.association :location, :collection => @region.locations, :as=>:select, :label=>false, :input_html => {:class => 'select2' } %>
  <% unless f.object.location.nil? %>
    (<%= f.object.is_pickup_stop? ? "Donor" : "Recipient" %>)
  <% end %>
  </div>
  <div style="display:table-cell"><%= f.text_field(:position,size:4) %></div>
  <div style="display:table-cell"><%= f.select :food_type_ids, @region.food_types.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => 'select2' %></div>
  <button onclick="$(this).parent().remove();">Remove</button>
</div>