<footer id = "site-footer" class="text-center">
  <hr />
  <p>
    Veggietables by TCFJ (cc)
    <a href="http://tcfoodjustice.org" target="_blank">
      TC Food Justice
      <i class='fa fa-external-link'></i></a>&nbsp;|
    <a href="http://github.com/softwareforgood/food-rescue-robot" target="_blank">
      Source Code
      <i class='fa fa-external-link'></i>
    </a>
  </p>

</footer>
