<footer id = "site-footer" class="text-center">
  <hr />
  <p>
    Food Rescue Robot (cc)
    <a href="http://boulderfoodrescue.org" target="_blank">
      Boulder Food Rescue
      <i class='fa fa-external-link'></i></a>&nbsp;|
    <a href="http://github.com/boulder-food-rescue/food-rescue-robot" target="_blank">
      Source Code
      <i class='fa fa-external-link'></i>
    </a>
  </p>

</footer>
